@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px #87879e; */
  border-radius: 10px;
}

/* Dark mode Track */
.dark::-webkit-scrollbar-track {
  background-color: #18181b; /* Example dark mode color */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9153f4;
  border-radius: 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #87879e;
} */
